<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Game Shop</title>

    {% block head %}{% endblock %}
</head>
<body>
    <h1><b>PORTFOLIO PROJECT</b></h1>
    <p>A RESTful video game API featuring full CRUD operations, filtering and sorting, derived fields, and a review system. Includes JWT authentication with refresh token rotation, role-based authorization, and context-specific policies. Built with structured error handling, logging, and thoroughly tested with 148+ tests. Fully documented via Swagger UI. </p>
    <h2><b>ROUTES:</b></h2>
    <p>Full Swagger documentation: /api/docs</p>
    <p>all games: /games</p>
    <p>all genres: /genres</p>
    <p>all developers: /developers</p>
    <p>all reviews (per game): /games/game_id/reviews</p>
    <p>a game: /games/game_id</p>
    <p>a genre: /genres/genre_id</p>
    <p>a developer: /developers/developer_id</p>
    <p>a review: game/game_id/reviews/review_id</p>
    <p>self: /me</p>


</body>
</html>