<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GameBaseAPI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <h1><b>GameBaseAPI</b></h1>
        <div class="buttons">
            <button id="login_button" onclick="window.location.href='{{ url_for('auth.get_login') }}'">LOGIN</button>
            <button id="registration_button" onclick="window.location.href='{{ url_for('html.registration_page') }}'">REGISTRATION</button>
            <button style="display: none;" id="my_profile_button" onclick="window.location.href='{{ url_for('html.profile_page') }}'">My profile</button>
        </div>
    </div>

    <p>Secure REST API for managing games, reviews, and user accounts. Features filtering, sorting, JWT authentication with refresh token rotation, role-based authorization, structured error handling, and 160+ automated tests. Fully documented with Swagger UI. </p>


    <h2>Project resources: </h2>
    <button onclick="window.location.href='/api/docs'">View API Documentation</button>
    <button onclick="window.open('https://github.com/Erik-Mund/games-api', '_blank')">
        View Source on GitHub
    </button>

    <h2>Games: </h2>
    <button id="get_all_games">Get all games</button>

    <h2>Developers: </h2>
    <button onclick="window.location.href='/developer-profile-page'">Manage my developer profile</button>
    <button onclick="window.location.href='/all-developers'">See all developers</button>

    <h2>Genres: </h2>
    <button onclick="window.location.href='/all-genres'">See all genres</button>
    <p></p>
    <button onclick="window.location.href='/create-genre'" id="create_genres" style="display: none;">Create genre</button>


    <script type="module" src="{{ url_for('static', filename='main_page.js') }}"></script>
</body>
</html>