<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete the game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form id="delete_game_form">
        <h2>ARE YOU SURE YOU WANT TO DELETE THIS GAME? THIS ACTION IS IRREVERSIBLE!</h2>
        <button type="submit">YES</button>
        <button onclick="window.location.href='{{ url_for('html.my_games_page') }}'">NO</button>
    </form>

    <p></p>
    <div id="message" class="message"></div>

    <script type="module" src="{{ url_for('static', filename='games/delete_game.js') }}"></script>
</body>
</html>