<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div>
    <label for="sort" class="sort_label">Sort by:</label>

    <select id="sort">
        <option value="rating">Best</option>
        <option value="new">Newest</option>
        <option value="old">Oldest</option>
    </select>
</div>

<div>
    <label for="per_page" class="per_page_label">Games per page: </label>
    <input type="number" class="per_page_input" id="per_page" placeholder="number" value="20" min="1" max="100"/>
</div>

<p></p>

<h2 id="loading" style="display: none;">Loading</h2>

<div id="games" data-endpoint="/genres/games"></div>
<p></p>
<!--
<button id="previous_page"><</button>
<button id="next_page">></button>
-->

<p></p>
<div class="number-input">
        <label for="page_input">Page: </label>
    <button onclick="this.nextElementSibling.stepDown()">-</button>
    <input type="number" class="page_input" placeholder="page" min="1" max="999" id="page_input" required/>
    <button onclick="this.previousElementSibling.stepUp()">+</button>
    <button id="go">Go</button>
</div>
<div id="page_message"></div>
<p></p>

<button onclick="window.location.href='{{ url_for('html.all_genres_page') }}'">Back</button>

<p></p>

<script type="module" src="{{ url_for('static', filename='games/get_all_games.js') }}"></script>

</body>
</html>