<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update the game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Update the game: </h2>
    <form id="update_game_form">
        <label for="title">Title: </label>
        <input id="title" type="text" maxlength="200" placeholder="Enter the title" required/>
        <p></p>
        <label for="platform">Platform(s):</label>
        <input id="platform" type="text" maxlength="300" placeholder="Filled as 'PC' if left empty"/>
        <p></p>
        <label for="summary">Summary:</label>
        <input id="summary" type="text" maxlength="5000" placeholder="Enter summary"/>
        <p></p>
        <label for="genres">Genre(s). Filled as: "Action, RPG"</label>
        <input id="genres" type="text" maxlength="1000" placeholder="Enter genres"/>
        <p></p>
        <label for="price">Price:</label>
        <input id="price" type="number" maxlength="300" placeholder="Free if left empty"/>
        <p></p>
        <label for="release_year">Release year:</label>
        <input id="release_year" type="number" maxlength="5" placeholder="Filled as the current year if left empty"/>
        <p></p>
        <button type="submit">Submit</button>
    </form>
    <p></p>
    <div id="message"></div>
    <p></p>
    <button id="back">Back</button>

    <script type="module" src="{{ url_for('static', filename='games/update_game.js') }}"></script>
    <script src="{{ url_for('static', filename='back_button.js') }}"></script>
</body>
</html>